<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div class="container">
  <ion-card shape="round" color="light">
  <div class="container">
    <img src="./assets/logo.png" />

  <ion-item color="login-tint" shape="round">
    <ion-label position="stacked">Login:</ion-label>
    <ion-input type="text"></ion-input>
    
  </ion-item>
  
  <ion-item color="login-tint" shape="round" >
    <ion-label position="stacked">Senha:</ion-label>
    <ion-input type="password"></ion-input>
    
  </ion-item>

  <ion-button shape="round">Entrar</ion-button>

    
  </div>
  </ion-card>
  </div>

</ion-content>
