<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Estágio</ion-card-subtitle>
      <ion-card-title>Entregas Agendadas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Relatório Mensal:</p>
      <p>Relatório Mensal:</p>
      <p>Relatório Mensal:</p>
      <p>Relatório Mensal:</p>
      <p>Relatório Final:</p>
    </ion-card-content>
  </ion-card>
 </div>
</ion-content>
