<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dados do Estágio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="secondary">
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Estágio:</ion-label>
      
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Empresa:</ion-label>
      <!-- <ion-label> {{ estagio.nomeEmpresa | async }} </ion-label> -->
    </ion-item>
    
    <ion-item class="ion-activated">
      <ion-label>Tipo de Estágio:</ion-label>
     <!--  <ion-label>{{ estagio.tipoEstagio | async }} </ion-label> -->
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Disciplina:</ion-label>
     <!-- <ion-label>{{ estagio.disciplina | async }}</ion-label> -->
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Orientador:</ion-label>
     <!--  <ion-label>{{ estagio.nomeOrientador | async }}</ion-label> -->
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Situação:</ion-label>
     <!--  <ion-label>{{ estagio.statusEstagio | async}}</ion-label> -->
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Data de Início:</ion-label>
      <!--  <ion-label>{{ estagio.dataInicioEstagio | async}}</ion-label> -->
    </ion-item>

    <ion-item class="ion-activated">
      <ion-label>Horas realizadas:</ion-label>
      <ion-label></ion-label>
    </ion-item>
        
    <ion-item class="ion-activated">
        <ion-button fill="outline">Upload de Documentos</ion-button>
    </ion-item>
  </ion-card>

  <logout></logout>
  
  <ion-button shape="round" fill="outline" (click)="sair()">Sair</ion-button>

</ion-content>
